:root {
  --ifm-color-primary: #2457c5;
  --ifm-color-primary-dark: #204eb1;
  --ifm-color-primary-darker: #1e49a7;
  --ifm-color-primary-darkest: #193d8a;
  --ifm-color-primary-light: #2f63d4;
  --ifm-color-primary-lighter: #3b6bd7;
  --ifm-color-primary-lightest: #5b83de;
}

.hero__title {
  letter-spacing: -0.03em;
}
